{% extends project.theme_layout.key ?: project.category.theme_layout.key %}

{% block metadata %}
    {{ asset_add("styles.css", "newebtime.module.portfolio::scss/style.scss") }}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ project.content|raw }}
{% endblock %}