.project {
  .title {
    text-align: center;

    > span {
      width: 60%;
      float: none;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      font-weight: 500;

      > span {
        margin: 0 15px;

        &:after {
          content: "•";
          position: relative;
          left: 15px;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            content: none;
          }
        }
      }
    }

    > h1 {
      display: block !important;
      margin-top: 20px;
      margin-bottom: 50px;
      font-weight: 700;
      letter-spacing: -1px;
      color: #232323;
      font-size: 70px;
      line-height: 70px;
      text-transform: capitalize;
    }
  }

  @media (min-width: 992px) {
    .description > ul {
      float: right;
      width: 50%;
    }
  }

  .images {
    background: #f8f9fa;
    padding: 15px 0;
  }

  .list-group-item {
    > label {
      width: 30%;
      display: inline-block !important;
      float: left;
    }

    > span {
      width: 70%;
      display: inline-block !important;
      float: left;
    }
  }
}
