@import "projects";
@import "project";

.portfolio-grid {
  list-style: none;

  .grid-item {
    figure {
      .portfolio-img {
        background-color: #1c1c1c;
      }

      img {
        opacity: 0.3;
      }

      &:hover img {
        opacity: 1;
      }
    }

    figcaption {
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      width: 100%;
      height: 100%;
      padding: 45px;
      z-index: 1;
      text-align: center;
    }

    figure {
      figcaption {
        opacity: 1;
        -webkit-transition: all 0.3s ease 0s;
      }

      &:hover figcaption {
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
      }
    }

    .portfolio-hover-main {
      transform: none;
      display: table;
      height: 100%;
      top: 0;
      width: 100%;
    }

    .portfolio-hover-box {
      display: table-cell;
      height: 100%;
    }

    .portfolio-hover-content {
      bottom: -15px;
      transition: all 0.2s ease 0s;
      -webkit-transition: all 0.2s ease 0s;
    }
  }
}

.bg-deep {
  width: 18%;
  height: 1px;
  margin-bottom: 25px;
  float: none;
  margin-left: auto;
  margin-right: auto;

  &.pink {
    background-color: #ff214f;
  }
  &.blue {
    background-color: #36b9f9;
  }
}

.project-title {
  display: block !important;
  margin-bottom: 5px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-desc {
  margin-bottom: 0 !important;
  color: #939393;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 14px;
}

.list-style {
  position: relative;
  padding: 0 15px 8px 0;
  margin: 0 0 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title1 {
  text-align: center;
  font-size: 14px !important;
}

.portfolio-grid .grid-item {
  a:hover {
    text-decoration: none;

    .title1 {
      color: #444;
    }
  }

  p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;

    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }
}