.portfolio-grid{
    list-style: none
}
.portfolio-grid .grid-item figure .portfolio-img {
    background-color: #1c1c1c;
}
.portfolio-grid .grid-item figure img {
    opacity: 0.08;
}
.portfolio-grid .grid-item figure:hover img {
    opacity: 1;
}
.portfolio-grid .grid-item figcaption {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    padding: 45px;
    z-index: 1;
    text-align: center;
}
.portfolio-grid .grid-item figure figcaption {
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
}
.portfolio-grid .grid-item figure:hover figcaption {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
}
.portfolio-grid .grid-item .portfolio-hover-main {
    transform: none;
    display: table;
    height: 100%;
    top: 0;
    width: 100%;
}
.grid-item .portfolio-hover-box {
    display: table-cell;
    height: 100%;
}
.portfolio-grid .grid-item .portfolio-hover-content {
    bottom: -15px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.bg-deep-pink {
    background-color: #ff214f;
    width: 18%;
    height: 1px;
    margin-bottom: 25px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.project-title {
    display: block !important;
    margin-bottom: 5px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-desc {
    margin-bottom: 0 !important;
    color: #939393;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 14px;
}
.list-style {
    position: relative;
    padding: 0 15px 8px 0;
    margin: 0 0 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.label-style {
    width: 30%;
    display: inline-block !important;
}
.padding {
    padding-top: 2%;
    padding-bottom: 2%;
}
.margin {
    margin-right: -15px;
    margin-left: -15px;
}
.text-margin {
    margin-bottom: 60px;
}
.text-outside-line {
    width: 60%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.text-extra{
    display: block !important;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    line-height: 70px;
    text-transform: capitalize;
}
.project-left {
    line-height: 28px;
}
.project-left p {
    margin-bottom: 0;
    font-size: 14px
}
.project-right {
    line-height: 26px;
}
.project-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.title1 {
    text-align: center;
    font-size: 14px !important;
}

.portfolio-grid .grid-item a:hover {
    text-decoration: none;
}

.portfolio-grid .grid-item a:hover .title1{
    color: #444;
}

.portfolio-grid .grid-item p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
}
.portfolio-grid .grid-item p:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.portfolio-grid .grid-item p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
